:root {
    --primary-color: rgba(67, 171, 175, 0.1);
    --secondary-color: #ff6a6a;
    --tertiary-color: #040e34;
    font-family: 'heebo', sans-serif;
}

h1 {
    font-size: clamp(1.3rem, 3rem, 4rem);
    font-weight: 700;
    color: #000;
    text-align: left;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1.12rem, 1.5rem, 1.5rem);
    font-weight: 400;
    color: #000;
    text-align: left;
}

.intro img {
    width: 400px;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 100px;
    max-width: 100%;
    box-shadow: -0.5rem 1rem 0 0.5rem var(--primary-color);
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 13rem;
}

button {
    font-size: clamp(1.2rem, 1.4rem, 1.5rem);
    font-weight: 700;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 1.1rem 1.6rem;
    letter-spacing: 0.02em;
}

button:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.8rem;
    color: #000;
    text-align: left;
    padding: 20px 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: var(--secondary-color);
    }
    font-size: 1.3rem;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
}

.Recent-posts {
    background-color: var(--primary-color);
    padding: 3rem 18rem;
}

section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section header h2 {
    font-size: clamp(1.5rem, 1.9rem, 2.2rem);
    font-weight: 500;
}

header a {
    color: rgb(78, 192, 233);
}

.posts {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
}

.posts h3 {
    font-size: clamp(1.3rem, 2.2rem, 2.2rem);
    font-weight: 700;
    text-align: left;
    padding: 0 1rem;
}

.post {
    background-color: white;
    border-radius: 6px;
    padding: 1rem;
}

.posts p {
    padding: 0;
    font-size: clamp(1rem, 1.5rem, 1.9rem);
}
.post-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.post-info p {
    font-size: clamp(0.9rem, 1.5rem, 1.5rem);
    flex-shrink: 0;
}

.Featured-works,.Blog-posts ul {
    padding: 3rem 18rem;
    img {
        aspect-ratio: 4/3;
        width: 25%;
        object-fit: cover;
        border-radius: 6px;
        margin-right: clamp(1rem, 1rem, 3rem);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    li {
        display: flex;
        padding-bottom: 2rem;       
        margin-bottom: 2rem;       
        border-bottom: 1px solid #e0e0e0;
    }
    p{
        font-size: clamp(0.8rem, 1.5rem, 1.5rem);
    }
    h2 {
        margin-bottom: clamp(1rem, 2.7rem, 2.7rem);
        color: var(--tertiary-color);
    }
    h3, h2 {
        font-weight: 700;
        margin-top: 0;
        color: var(--tertiary-color);
        + span {
            color: white;
            font-size: clamp(0.8rem, 2rem, 1.2rem);
            background-color: var(--tertiary-color);
            padding: 0.3rem 0.9rem;
            border-radius: 20px;
            font-weight: 1000;
            margin-right: 2rem;
        }
        + span + span {
            font-size: clamp(0.8rem, 2em, 1.2rem);
            color: rgb(107, 106, 106);
        }
    }
}

.Featured-works h2, 
.Featured-works h3 {
    font-weight: 700;
    font-size: clamp(1.2rem, 2rem, 2.2rem);
    margin-top: 0;
    color: var(--tertiary-color);
}

.Blog-posts p + p + p {
    color: grey;
}

.work-page h1{
    margin: 0 18rem;
}

.blog-page h1 {
    margin: 0 19rem;
}

.blog-page .post h2 {
    font-size: 2.5rem
}

footer {
    margin: 160px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .social-links {
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 2px;
    }
}

footer .social-links a i, 
footer .social-links a svg {
    font-size: 45px; 
    color: var(--tertiary-color); 
    display: inline-block;
    width: auto;
    height: auto;
    &:hover {
        color: white;
        background-color: var(--secondary-color);
        border-radius: 4px;
    }
}

footer .social-links a i.fa-facebook-f, 
footer .social-links a i.fa-linkedin-in {
    background-color: var(--tertiary-color);
    color: white;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 28px;
    &:hover {
        color: white;
        background-color: var(--secondary-color);
        border-radius: 4px;
    }
}

footer p {
    font-size: 18px;
}

.work-page li:nth-child(5) {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .intro {
        flex-direction: column-reverse;
        padding: 1rem 2rem;
        text-align: center;
    }

    h1, .intro p {
        text-align: center;
    }
    
    h1 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.1rem;
    }

    .intro img {
        width: 13rem;
        aspect-ratio: 1/1;
        margin: 0 auto 2rem auto;
        box-shadow: -4px 8px 0 5px var(--primary-color);
    }

    .Recent-posts {
        padding: 0rem 1.8rem 1rem;
        a {
            display: none;
        }
        header {
            flex-direction: column;
            gap: 1rem;
        }
        h2 {
            text-align: center;
            font-size: clamp(1.3rem, 1.4rem, 2.2rem);
        }
        p {
            text-align: start;
        }
    }

    .posts {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .posts h3 {
        font-size: 1.5rem;
    }

    .posts p {
        font-size: 1rem;
    }
    
    
    nav {
        font-size: clamp(0.8rem, 1.6rem, 1.5rem);
        padding: 0px;
        margin: 0;
        justify-content: end;
    }
    
    .nav-menu {
        position: relative;
        padding: 20px;
        height: 70px;
        display: flex;
        align-items: center;
        background-color: #fff;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 30px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 2px;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 5px;
        left: auto;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        padding: 30px;
        display: none;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .blog-page .nav-links {
        padding: 1.2rem;
    }
    
    .blog-page .nav-links{
        top: 60px;
    }

    .menu-toggle:checked ~ nav .nav-links {
        display: flex;
    }

    .Featured-works {
        padding: 4vw;
        li {
            display: flex;
            flex-direction: column;
            gap: 2vw;
            img {
                width: 100%;
            }
        }
        header h2 {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            text-align: center;
        }
        img {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .Featured-works,.Blog-posts p {
        font-size: 1rem;
    }

    .home-page .Featured-works li:nth-child(5), .Featured-works li:nth-child(4), .Featured-works li:nth-child(2), .Featured-works li:nth-child(3) {
        display: none;
    }

    .Featured-works li {
        margin: 0;
    }

    .blog-page h1{
        margin:0;
        padding: 1rem 1rem;
        text-align: start;
    }

    .work-page h1{
        margin:0;
        padding: 1rem 1rem;
        text-align: start;
    }

    .blog-page ul {
        padding: 0rem 0rem;
        margin: 0;
    }

    .blog-page .post h2{
        font-size: 1.6rem
    }

    .blog-page .post p {
        font-size: 1.2rem;
    }

    .home-page .Featured-works li:nth-child(n+2) {
        display: none;
    }

    .hide-mobile{
        display: none;
    }

    .work-page .Featured-works li:nth-child(5) {
        display: flex;
    }

    .nav-links li {
        display: block;
    }
}

